.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 480px;
  height: 459px;
  border-radius: 12px;
  background: #c2f5ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #004980;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}

.levels {
  display: flex;
  flex-direction: row;
  gap: 26px;
  margin-top: 48px;
  margin-bottom: 28px;
}

.level {
  display: flex;
  width: 97px;
  height: 98px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  border-radius: 12px;
  background: #fff;
}

.levelLink {
  color: #0080c1;
  text-align: center;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  text-decoration: none;
}

.levelLink:visited {
  color: #0080c1;
}
