.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  background-color: unset;
  height: 100px;
  width: 100px;
  border: 2px solid #101010;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.card:hover {
  background-color: #f0f0f0;
}

.cardOpen {
  background: white;
}

.cardClosed {
  background-color: #e4fbff;
}
